<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Gestor de turnos</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
            <button type="button" class="btn btn-outline-primary mx-1" [routerLink]="['/login']">Iniciar Sesión</button>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
            <button type="button" class="btn btn-outline-success mx-1" [routerLink]="['/register']">Registrarse</button>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <button type="button" class="btn btn-outline-danger mx-1" (click)="logout()">Cerrar Sesión</button>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.esAdmin()">
            <button type="button" class="btn btn-outline-warning mx-1" [routerLink]="['/dashboard']">Dashboard</button>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.esAdmin()">
            <button type="button" class="btn btn-outline-info mx-1" [routerLink]="['/administrar-horarios']">Administrar Horarios</button>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <button type="button" class="btn btn-outline-secondary mx-1" [routerLink]="['/mis-turnos']">Mis Turnos</button>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <button type="button" class="btn btn-outline-primary mx-1" [routerLink]="['/reservar-turno']">Reservar Turno</button>
        </li>
    </ul>


        </div>
    </div>
</nav>